html,
body {
  background-color: black;
  color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: -40px;
}

h1 {
  font-family: 'Bungee Inline', Arial;
  margin-top: 100px;
  margin-bottom: 120px; 
  font-size: 40px;
  color:	#B0C4DE;
}

h4 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  color: #C0BEDC;
  font-family: 'Bungee Inline', Arial;
}

#main{
  padding-top: 10px;
  padding-left: 15px;
  font-size: 20px;
}

#output {
  border-style: solid;
  border-color: #FFC0B4;
  font-family: 'Bungee Inline', Arial;
  color: #696969;
  position: center fixed;
  width: 250px;
  height: 16em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin-bottom: -100px;
  margin-top: -30px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

#calculator {
  position: center fixed;
  border-style: solid;
  border-color: #FFC0B4;
  width: 250px;
  background-color: 	#696969;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: -20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

hr {
  width: 250px;
  background-color:#FFC0B4;
  position: center fixed;
  height: 10px;
  display: block;
}

.btn {
  margin: 6px;
  width: 3em;
    text-align: center;
}

#zero{
  width: 7.2em;
  margin: 6px;
 text-align: center;

}

#equals{
 position: absolute;
  height: 84px;
}

.btn{
  border-style: "double";
  border-color: "black";
  border-width: 2px;
}
